.main {
  width: 80vw;
  height: 60vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .main {
    width: 600px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
